Day-2 Data science masters

a = 10
a

In [3]:
type(a)

int

In [4]:
int()

0

In [5]:
int('123')

123

In [6]:
print("Hello world")

Hello world

In [7]:
print(123)

123

In [8]:
age=35
print("My age is 32")

My age is 32

In [11]:
print(f"My age is {32}") # f string

My age is 32

In [12]:
print("My age is {32}") # with out f string

My age is {32}

In [13]:
#format()
name = "Shylender"
age = 32
print("My name is {} and age is {}".format(name, age))

My name is Shylender and age is 32

In [14]:
#format()
name = "Shylender"
age = 32
print("My name is {} and age is {}".format(age, name))

My name is 32 and age is Shylender

In [15]:
#placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name, firstage=age))

My name is Shylender and age is 32

In [16]:
name = "Shylender Adi"
age = 35
degree = "MCA"
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 35 and i have completed: my degree of MCA with the name of Shylender Adi

In [18]:
name = "Shylender Adi"
age = 35
degree = "MCA"
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age, degree, name))

My age is 35 and i have completed: my degree of MCA with the name of Shylender Adi

In [22]:
name = "Shylender Adi"
age = 35
degree = "MCA"
print("My age is {firstage} and i have completed: my degree of {firstdegree} with the name of {myname}".format(firstage=age, firstdegree=degree, myname=name))

My age is 35 and i have completed: my degree of MCA with the name of Shylender Adi

## control flow

In [25]:
## If statements
age = 18
if age >= 18: # colon indicates the start of the if block
    print("You are eligible for voting")

You are eligible for voting

In [26]:
input()

 Adi Shylender

'Adi Shylender'

In [27]:
type(input())

 shylender

str

In [28]:
type(input())

 123

str

In [30]:
name = input("Enter your name:")

Enter your name: Adi Shylender

In [31]:
age = int(input("Enter your age: "))

Enter your age:  35

In [32]:
type(name), type(age)

(str, int)

In [34]:
## Task
## Take input of age
## Check whether age is >=18 and age<= 45
## You are youn blood

age = int(input("Enter your age: "))
if age >= 18 and age <= 45:
    print("You are young blood")

Enter your age:  12

In [36]:
## if else statements
age = int(input("Enter your age: "))
if age >= 18 and age <= 45:
    print("You are young blood")
else:
    print("Thank you, Your application is rejected")

Enter your age:  23

You are young blood

In [38]:
## Mall - input the product price
## any product > 1000 rs 20 % off
## print the product price after removing the discount
## any product <=1000 rs 30% off
## print the produc price

product_price = int(input("Enter the product price:"))
if product_price > 1000:
    print("THe product price is {}".format(int(product_price * 0.8)))
else:
    print("THe product price is {}".format(int(product_price * 0.7)))

Enter the product price: 5000

THe product price is 4000

In [41]:
product_price = int(input("Enter the product price:"))
if product_price > 1000:
    print(f"THe product price is {int(product_price * 0.8)}")
else:
    print("THe product price is {}".format(int(product_price * 0.7)))

Enter the product price: 2000

THe product price is 1600

In [3]:
## mall - input the product pricce
## product > 3000 rs 20% off
## print the product price after removing the discount
## product >= 2000 rs and <= 3000 30% off
## print the product price after removing the discount
## product >= 1000 rs and <= 2000 rs 40% off
## print the product price after removing the discount

product_price = int(input("Enter the product price:"))
if product_price > 3000:
    print(f"THe product price is {int(product_price * 0.8)}")
elif product_price >= 2000 and product_price <= 3000:
    print(f"THe product price is {int(product_price * 0.7)}")    
elif product_price >= 1000 and product_price < 2000:
    print("THe product price is {}".format(int(product_price * 0.6)))

Enter the product price: 2222

THe product price is 1555

In [4]:
## single statements suits
val = int(input("Enter the number: "))
if (val==999): print("value is less than or equal to 999")
else:
    print("Go to home")

Enter the number:  2000

Go to home